################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CricketSystemCSharp/.vs/CricketSystemCSharp/v16
/CricketSystemCSharp/CricketSystemCSharp/obj
/CricketSystemCSharp/CricketSystemCSharp/bin/Debug/netcoreapp3.1
/CricketSystemCSharp/.vs/CricketSystemCSharp/DesignTimeBuild
